python-dotenv
aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
emoji==0.6.0
multidict==4.7.6
typing-extensions==3.7.4.3
aiohttp-jinja2
urllib3
yarl
autocorrect
wikipedia
pyrebase
schedule
pycrypto
pycryptodome
pycryptodomex
TgCrypto
bs4
pymongo
dnspython
uuid
beautifulsoup4
cryptography
decorator
Flask
gdata
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
oauth2client
oauthclient
oauthlib
pickleshare
Pillow
pycrypto
pycryptodomex
Pyrogram
wget
IMDbPY
mechanize
dnslib
requests
moviepy
youtube-dl
youtube-search
